<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>361557352430-jpiimsc2mhi2fbe5cjip8lgc2q27kjac.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.361557352430-jpiimsc2mhi2fbe5cjip8lgc2q27kjac</string>
	<key>API_KEY</key>
	<string>AIzaSyDEK0Db7KT5LqeiZcHN0SVO_XyHC86uRaI</string>
	<key>GCM_SENDER_ID</key>
	<string>361557352430</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodRescue</string>
	<key>PROJECT_ID</key>
	<string>food-rescue-b344d</string>
	<key>STORAGE_BUCKET</key>
	<string>food-rescue-b344d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:361557352430:ios:ec3e2b28d7ddac4e2eb8ff</string>
</dict>
</plist>